script.
	var global_hash = {};

mixin SLIDER(ctrl,item,max,div)
		label.left #{item}
		div(id='#{ctrl[0]}#{item}')
		script.
			$(function(){
				PidCtrls.push('#{ctrl[0]}#{item}')
				$('##{ctrl[0]}#{item}').slider({
					max:#{max},
					min:0,
					slide: function(event,ui) {
						var num = ui.value / #{div}
						$(this).children(0).attr('data-content', num)
						slideUpdate( this.id, num )
					}
				});
			});


mixin MAKEGAUGE(id,gclass,cont,sub,min,max)
	div(class="#{cont}")
		div(id="#{id}" style="#{gclass}")
		script.
			global_hash[ '#{id}' ] = {}
			$(function(){
				global_hash[ '#{id}' ] = new JustGage({
					id:"#{id}",
					value:0,
					min: #{min},
					max: #{max},
					title:"#{id}",
					label: "#{sub}"
				});
			});


block content